<p>templateforms works!</p>

<form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
    <label for="name">Name:</label> <input type="text" name="name"  id="name" [(ngModel)]="user.name" placeholder="enter name" value="" required>
    <label for="name">email:</label><input type="email" name="email" id="email"  [(ngModel)]="user.email" placeholder="enter email" value="" required>
    <label for="name">password:</label><input type="password" name="password"  [(ngModel)]="user.password" id="password" placeholder="enter password" value="" required>
   
  <button type="submit" [disabled]="!myForm.valid">Submit</button>


</form>
